:root {
  --primary: 255, 255, 255;
  --complimentary: 0, 0, 0;
  --font-mono: 'Source Code Pro', monospace;
  --font-regular: 'Source Sans Pro', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-regular);
  font-size: 18px;
  text-align: center;
  background-color: rgb(var(--primary));
  color: rgb(var(--complimentary));
  line-height: 1.5em;
}
